/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  font-family: arial;
  background:#f7f7f7;
}
#wrapper {
  margin:50px auto;
  width:300px;
  height:600px;
}
.iframe-wrapper {
  clear:both;
  border:1px solid #ccc;
  margin:0px auto;
}
ul {
  margin:0px 0px 40px;
  padding:0px;
  float:left;
  clear:both;
}
li{
  padding: 0;
  margin: 0;
  list-style: none;
  float:left;
  width:100px;
  text-align:center;
}
a.resize-link {
  color:#888;
  text-decoration:none;
}
li.active a{
  color:#222;
}